<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <form action="/" method="post">
            <div align="center">
                <label for="posts">What are you thinking</label>
                <br>
                <textarea id="posts" name="message" rows="4" cols="50"></textarea>
                <input type="submit" value="think"/>
                </div>
        </form>

        {% for message in messages %}
        <div align="center">
            <p>{{ message.message }}</p>
            <small>{{ message.created_at.strftime('%Y-%m-%d %H:%M') }} </small>
        </div>
        {% endfor %}
</body>
</html>